
body{
	margin: 0px;
	background-color: #F5F6CE;
}

div{
	margin-top: 8%; 
	margin-right: 8%;
	margin-bottom: 8%;
	margin-left: 11%;
	box-shadow: 0 0 100px 20px;
	padding: 2%;
}

h1{
	font-family: Times;
	font-style:normal;
	font-weight: bold;
	text-align:center;
}

.main_img{
	text-align: center;
}

p{
	text-align:left;
	font-size: 20px;
	-webkit-margin-before: 1.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


li{
	font-size: 20px;
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

